@model MaarWindowBlindProduction.Models.Order

@{
    ViewData["Title"] = "ClothierEdit";
}

<h1>Cloth for window blind made?</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ClothierEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ClothReady" /> @Html.DisplayNameFor(model => model.ClothReady)
                </label>
            </div>
                    <input type="hidden" class="form-check-input" asp-for="FrameReady" disabled/>
                <input type="hidden" class="form-check-input" asp-for="ProductPackaged" disabled/>
                <input type="hidden" class="form-check-input" asp-for="DeliveryStatus" disabled/>
            <input type="submit" value="Save" class="btn btn-primary mt-3 mb-3" />
        </form>
    </div>
</div>

<div>
    <a asp-action="WorkerList">Back to List</a>
</div>

