@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our site!</h1>
    <p>Please refer to the navbar above to navigate through our site.</p>
</div>
